<app-page-layout
  divisor="'•'"
  [columnClass]="'col-lg-12'"
  [pageTitle]="hd.id !== 0 && hd.id > 0 ?
  {
    titulo: 'Editar HD',
    itemMenu:'HD',
    itemSubmenu:hd.id.toString(),
    alignment:'center',
    homeIcon: true,
    homeText: 'Início',
  }:
  {
    titulo: 'Novo HD',
    itemMenu:'HD',
    itemSubmenu:'Novo',
    alignment:'center',
    homeIcon: true,
    homeText: 'Início',
  }"
>
  <app-simple-card
    title="Formulário de HD"
  >
    <app-form [form]="form"
      [buttons]="formButtons"
    >
      <app-input-form
        label="Marca"
        placeholder="Marca"
        [control]="this.form.get('brand')"
        id="floatingName"
        [errorMessages]="{
          required: 'O campo de marca é obrigatório.',
          minlength: 'O campo de marca deve ter no mínimo 3 caracteres',
          maxlength: 'O campo de marca deve ter no máximo 255 caracteres',
        }"
        class="col-md-6"
      >
      </app-input-form>
      <app-input-number-form
        label="Capacidade em GB"
        placeholder="Capacidade"
        [control]="this.form.get('capacity')"
        id="floatingName"
        [errorMessages]="{
          required: 'O campo de capacidade é obrigatório.',
          min: 'O campo de capacidade deve ter no mínimo 1 GB',
          max: 'O campo de capacidade deve ter no máximo 90 GB',
        }"
        class="col-md-6"
      >
      </app-input-number-form>

      <app-select-form
      class="col-md-6"
      [options]="storageTypeOptions"
      label="Tipo de armazenamento"
      id="storageTypeSelect"
      [control]="form.get('type')"
    ></app-select-form>

      <app-select-form
        class="col-md-6"
        [options]="[
          { value: true, label: 'Sim' },
          { value: false, label: 'Não' },
        ]"
        label="Em uso"
        id="selectId"
        [control]="this.form.get('inUse')"
      ></app-select-form>
    </app-form>
  </app-simple-card>
</app-page-layout>

