<app-page-layout
  divisor="'•'"
  [columnClass]="'col-lg-12'"
  [pageTitle]="computer.id !== 0 && computer.id > 0 ?
  {
    titulo: 'Editar Computador',
    itemMenu:'Computador',
    itemSubmenu:computer.id.toString(),
    alignment:'center',
    homeIcon: true,
    homeText: 'Início',
  }:
  {
    titulo: 'Novo Computador',
    itemMenu:'Computador',
    itemSubmenu:'Novo',
    alignment:'center',
    homeIcon: true,
    homeText: 'Início',
  }"
>
  <app-simple-card
    title="Formulário de Computador"
  >
    <app-form [form]="form"
      [buttons]="formButtons"
    >
      <app-input-form
        label="Nome"
        placeholder="Nome"
        [control]="this.form.get('name')"
        id="floatingName"
        [errorMessages]="{
          required: 'O campo de nome é obrigatório.',
          minlength: 'O campo de nome deve ter no mínimo 3 caracteres',
          maxlength: 'O campo de nome deve ter no máximo 255 caracteres',
        }"
        class="col-md-6"
      ></app-input-form>
      <app-generic-list-table
        [title]="'Sistema Operacional'"
        [columns]="columns"
        [service]="osService"
        (itemSelected)="onItemSelected($event)"
      ></app-generic-list-table>
      <app-generic-list-table
        [title]="'CPU'"
        [service]="cpuService"
        [columns]="columnsCPU"
        (itemSelected)="onItemSelected($event)"
      ></app-generic-list-table>
      <app-generic-list-table
        [title]="'Placa-Mãe'"
        [service]="motherboardsService"
        [columns]="columnsMotherboard"
        (itemSelected)="onItemSelected($event)"
      ></app-generic-list-table>
      <app-generic-list-table
        [title]="'Gabinete'"
        [service]="casesService"
        [columns]="columnsCase"
        (itemSelected)="onItemSelected($event)"
      ></app-generic-list-table>
      <app-generic-list-table
        [title]="'Teclado'"
        [service]="keyboardsService"
        [columns]="columnsKeyboard"
        (itemSelected)="onItemSelected($event)"
      ></app-generic-list-table>
      <app-generic-list-table
        [title]="'Mouse'"
        [service]="mousesService"
        [columns]="columnsMouse"
        (itemSelected)="onItemSelected($event)"
      ></app-generic-list-table>
      <app-generic-list-table
        [title]="'Fonte'"
        [service]="powerSuppliesService"
        [columns]="columnsPowerSupply"
        (itemSelected)="onItemSelected($event)"
      ></app-generic-list-table>
      <app-generic-list-table
        [title]="'Caixa de som'"
        [service]="speakersService"
        [columns]="columnsSpeaker"
        (itemSelected)="onItemSelected($event)"
      ></app-generic-list-table>
      <app-generic-list-table
        [title]="'Placa de vídeo'"
        [service]="graphicsCardsService"
        [columns]="columnsGraphicsCard"
        (itemSelected)="onItemSelected($event)"
      ></app-generic-list-table>
      <app-generic-list-table
        [title]="'Placa de rede'"
        [service]="networksCardsService"
        [columns]="columnsNetwork"
        (itemSelected)="onItemSelected($event)"
      ></app-generic-list-table>
    </app-form>
  </app-simple-card>
</app-page-layout>




