<app-page-layout-nocolumn
  divisor="'•'"
  [pageTitle]="{
    titulo: 'Dashboard',
    itemMenu:'Dashboard',
    itemSubmenu:'',
    alignment:'center',
    homeIcon: true,
    homeText: 'Início',
  }"
>
<!-- lado esquerdo do dashboard -->
  <div class="col-lg-6">

    <app-simple-card
    title="Lista de Tarefas"
    >
      <div class="d-flex justify-content-end">
        <a (click)="criarTarefa()" class="bi bi-plus-circle me-2 text-success elemento-clicavel"></a>
        <a (click)="irParaTarefas()" class="bi bi-list-task blue-custom elemento-clicavel" [class.disabled]="linkTaskDisabled"></a>
      </div>
      <app-todo-list *ngIf="tasks$ | async as tasks"
      [items]="tasksToDashboard"
      ></app-todo-list>
    </app-simple-card>

  </div>
  <!-- lado direito do dashboard -->
  <div class="col-lg-6">

  </div>

</app-page-layout-nocolumn>
