<app-page-layout
  divisor="'•'"
  [columnClass]="'col-lg-12'"
  [pageTitle]="monitor.id !== 0 && monitor.id > 0 ?
  {
    titulo: 'Editar Monitor',
    itemMenu:'Monitor',
    itemSubmenu:monitor.id.toString(),
    alignment:'center',
    homeIcon: true,
    homeText: 'Início',
  }:
  {
    titulo: 'Novo Monitor',
    itemMenu:'Monitor',
    itemSubmenu:'Novo',
    alignment:'center',
    homeIcon: true,
    homeText: 'Início',
  }"
>
  <app-simple-card
    title="Formulário de Monitor"
  >
    <app-form [form]="form"
      [buttons]="formButtons"
    >
      <app-input-form
        label="Marca"
        placeholder="Marca"
        [control]="this.form.get('brand')"
        id="floatingName"
        [errorMessages]="{
          required: 'O campo de marca é obrigatório.',
          minlength: 'O campo de marca deve ter no mínimo 3 caracteres',
          maxlength: 'O campo de marca deve ter no máximo 255 caracteres',
        }"
        class="col-md-6"
      >
      </app-input-form>
      <app-input-form
        label="Modelo"
        placeholder="Modelo"
        [control]="this.form.get('model')"
        id="floatingName"
        [errorMessages]="{
          required: 'O campo de modelo é obrigatório.',
          minlength: 'O campo de modelo deve ter no mínimo 3 caracteres',
          maxlength: 'O campo de modelo deve ter no máximo 255 caracteres',
        }"
        class="col-md-6"
      >
      </app-input-form>
      <app-select-form
        class="col-md-4"
        [options]="sizeOptions"
        label="Tamanho"
        id="graphicsCapacitiesSelect"
        [control]="form.get('size')"
      ></app-select-form>
      <app-select-form
        class="col-md-4"
        [options]="[
          { value: true, label: 'Sim' },
          { value: false, label: 'Não' },
        ]"
        label="Em uso"
        id="selectId"
        [control]="this.form.get('inUse')"
      ></app-select-form>
      <app-multi-select-form
        class="col-md-4"
        [options]="graphicsConnectionsOptions"
        label="Conexões"
        id="graphicsConnectionsSelect"
        [control]="form.get('graphicsConnectionsTypes')"
      ></app-multi-select-form>

    </app-form>
  </app-simple-card>
</app-page-layout>




