<app-page-layout
  divisor="'•'"
  [pageTitle]="pageTitle"
  [columnClass]="'col-lg-12'"
>
  <app-simple-card title="">
    <app-button
      class="btn-new"
      text=""
      icon="bi bi-plus-circle me-2"
      tipoBotao="default"
      corBotao="success"
      tamanhoBotao=""
      [metodoAChamar]="onAdd.bind(this)"
      [arredondado]="!rounded"
      [disabled]="disabled"
    ></app-button>
    <app-table *ngIf="items$ | async as items; else loading"
      [dataList]="itemsList"
      [pageSizes]="[1, 5, 10, 25, 50, 100]"
      [displayedColumns]="columns"
      [buttons]="buttonsAction"
      (editItem)="onEdit($event)"
      (removeItem)="onRemove($event)"
    >
    </app-table>
    <app-confirm-modal
      [modal]="confirmModal"
      (confirmacaoAcao)="executarRemocao()"
    ></app-confirm-modal>
    <ng-template #loading>
      <app-loading></app-loading>
    </ng-template>
  </app-simple-card>
</app-page-layout>
