<div class="d-flex justify-content-center loading">
  <div class="spinner-border text-primary" role="status">
    <span class="visually-hidden">Loading...</span>
  </div>
  <div class="loading-text text-primary">
    <span>CARREGANDO</span>
  </div>
  <div class="spinner-grow spinner-grow-sm text-primary loading-points" role="status">
    <span class="visually-hidden">Loading...</span>
  </div>
  <div class="spinner-grow spinner-grow-sm text-primary loading-points" role="status">
    <span class="visually-hidden">Loading...</span>
  </div>
  <div class="spinner-grow spinner-grow-sm text-primary loading-points" role="status">
    <span class="visually-hidden">Loading...</span>
  </div>
</div>
